<div *ngIf="aceptante">
  <div class="container">
    <h2>Involucrados</h2>
    <div class="involucrados">
      <div>
        <img
          class="fotoUsuario"
          [src]="ofertante.fotoPerfil"
          alt="Imagen del ofertante"
          width="80px"
          height="80px" />
        <h4 class="inline">{{ ofertante.nombre + ' ' + ofertante.apellidos }}</h4>
      </div>
      <div>
        <img
          class="fotoUsuario"
          [src]="aceptante.foto"
          alt="Imagen de aceptante"
          width="80px"
          height="80px" />
        <h4 class="inline">{{ aceptante.nombre + ' ' + aceptante.apellido }}</h4>
      </div>
    </div>
  </div>
</div>
