<mat-nav-list>
  <mat-list-item routerLink="/home">
    <mat-icon matListItemIcon>home</mat-icon>
    <div matListItemTitle>Home</div>
  </mat-list-item>
  <mat-list-item routerLink="/perfil">
    <mat-icon matListItemIcon>face</mat-icon>
    <div matListItemTitle>Información de perfil</div>
  </mat-list-item>
  <mat-list-item routerLink="/miCatalogo">
    <mat-icon matListItemIcon>book</mat-icon>
    <div matListItemTitle>Mi catálogo</div>
  </mat-list-item>
  <mat-list-item routerLink="/intercambio">
    <mat-icon matListItemIcon>loop</mat-icon>
    <div matListItemTitle>Intercambios</div>
  </mat-list-item>
</mat-nav-list>
