<div class="title">
  <h1>Mi catálogo</h1>
</div>
<hr />

<div class="m-3">
  <a [routerLink]="['/agregarLibro']">
    <button mat-button mat-raised-button color="primary">Agregar un nuevo libro</button>
  </a>
</div>

<div class="card" *ngIf="librosRegistrados.length > 0; else sinLibros">
  <mat-card class="example-card" *ngFor="let libro of librosRegistrados">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ libro.titulo }}</mat-card-title>
        <mat-card-subtitle>{{ libro.descripcion }}</mat-card-subtitle>
        <img
          mat-card-md-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Image of a Shiba Inu" />
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-actions>
      <button class="m-1" mat-button mat-stroked-button color="primary">Modificar</button>
      <button class="m-1" mat-button mat-stroked-button color="warn">Eliminar</button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #sinLibros>
  <div class="">
    <mat-card>
      <mat-card-header>
        <mat-card-title> No tienes libros registrados </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</ng-template>
