.informacion
  margin-top: 40px
  margin-left: 20px
  width: 700px

.mat-mdc-card-header
  display: flex
  padding: 16px 16px 0
  justify-content: space-between
  align-items: center

p
  font-size: 16px

.info-Img
  display: flex

.half-width
  width: 75%

.mt-3
    display: block

.cardDuenos
  width: 650px
  margin: 0 auto
  margin-bottom: 8px

.base
  width: 500px
  margin: 10px
  padding: 8px

a
  text-decoration: none
  
