<div class="detalles-libro">
  <mat-card class="informacion">
    <mat-card-header>
      <mat-card-title>{{ Libro.titulo }}</mat-card-title>
      <mat-card-actions [align]="'end'">
        <a [routerLink]="['/libros']">
          <button class="m-1" mat-button mat-stroked-button color="primary">Cerrar</button>
        </a>
      </mat-card-actions>
    </mat-card-header>
    <mat-card-content class="mt-3">
      <div class="container">
        <div class="info-Img">
          <div class="half-width">
            <p aria-disabled="true"><strong>ISBN: </strong>{{ Libro.isbn }}</p>
            <p><strong>Autor: </strong> {{ Libro.autor }}</p>
            <p><strong>Editorial: </strong> {{ Libro.editorial }}</p>
            <p><strong>Generos: </strong> {{ Libro.generos }}</p>
            <p><strong>Idioma: </strong> {{ Libro.idioma }}</p>
            <p><strong>Fecha de publicación: </strong> {{ Libro.fechaPublicacion }}</p>
          </div>
          <img [src]="Libro.urlPortada" alt="portada_libro" width="180" height="180" />
        </div>
        <div>
          <p aria-disabled="true"><strong>Sinópsis:</strong></p>
          <p>{{ Libro.sinopsis }}</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<ng-container>
  <div class="text-center">
    <h3><strong>USUARIOS: </strong></h3>
  </div>
  <div class="cardDuenos" *ngIf="Libro?.duenos?.length">
    <mat-card class="base" *ngFor="let persona of Libro.duenos">
      <mat-card-actions>
        <a [routerLink]="['/muestraLibro']" class="base">
          <mat-card-title-group>
            <mat-card-title>{{ persona.nombre }} {{ persona.apellido }}</mat-card-title>
            <img
              mat-card-md-image
              [src]="persona.foto"
              alt="foto-Perfil"
              width="150px"
              height="150px" />
          </mat-card-title-group>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>
