<h1>Ofertas de intercambio</h1>
<app-exchange-card
  *ngFor="let exchange of pendingExchanges()"
  [imgLeft]="exchange.acceptingBook.urlPortada"
  [imgRight]="exchange.offeringBook?.urlPortada ?? ''"
  [titleLeft]="exchange.acceptingBook.titulo"
  [titleRight]="exchange.offeringBook?.titulo ?? ''"
  [state]="exchange.state"
  [name]="exchange.offeringUser.nombre + ' ' + exchange.offeringUser.apellidos"
  (accept)="showBookList(exchange)">
</app-exchange-card>
<h1>Intercambios</h1>
<app-exchange-card
  *ngFor="let exchange of otherExchanges()"
  [imgLeft]="exchange.acceptingBook.urlPortada"
  [imgRight]="exchange.offeringBook?.urlPortada ?? ''"
  [titleLeft]="exchange.acceptingBook.titulo"
  [titleRight]="exchange.offeringBook?.titulo ?? ''"
  [state]="exchange.state"
  [name]="
    this.userId() === exchange.offeringUser.id
      ? exchange.acceptingUser.nombre + ' ' + exchange.acceptingUser.apellidos
      : exchange.offeringUser.nombre + ' ' + exchange.offeringUser.apellidos
  "
  (accept)="acceptExchange(exchange)">
</app-exchange-card>
