<div class="text-center m-3">
  <h1>Agregar nuevo libro</h1>
</div>
<hr />

<div class="formISBN">
  <form [formGroup]="isbnInputForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="input">
      <mat-label>ISBN</mat-label>
      <input matInput placeholder="Ingresa el ISBN" formControlName="isbn" />

      <mat-error *ngIf="isbnInputForm.get('isbn')?.hasError('required')">
        Este campo es obligatorio
      </mat-error>
      <mat-error
        *ngIf="
          isbnInputForm.get('isbn')?.hasError('isbnLength') &&
          !isbnInputForm.get('isbn')?.hasError('required')
        ">
        El ISBN debe tener 10 ó 13 dígitos
      </mat-error>
    </mat-form-field>
    <button mat-raised-button class="submit" type="submit" color="primary">Agregar libro</button>
  </form>
</div>

<app-progress-spinner *ngIf="mostrarSpinner"></app-progress-spinner>

<div class="info-libro" *ngIf="mostrarCardLibro">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ libro.titulo }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mt-3">
      <div class="container">
        <div class="half-width">
          <p aria-disabled="true"><strong>ISBN: </strong>{{ libro.isbn }}</p>
          <p><strong>Autor: </strong>{{ libro.autor }}</p>
          <p><strong>Editorial: </strong>{{ libro.editorial }}</p>
          <p><strong>Fecha de publicación: </strong>{{ libro.fechaPublicacion }}</p>
          <p><strong>Sinopsis: </strong>{{ libro.sinopsis }}</p>
        </div>
        <div>
          <img [src]="this.libro.urlPortada" alt="portada_libro" width="180" height="180" />
        </div>
      </div>
      <div [formGroup]="descripcionForm">
        <mat-form-field class="textarea">
          <mat-label>Descripción personal</mat-label>
          <textarea
            matInput
            formControlName="descripcion"
            placeholder="Ejemplo: La portada del libro esta maltratada"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"></textarea>
          <mat-error *ngIf="descripcionForm.get('descripcion')?.hasError('required')"
            >Este campo es obligatorio</mat-error
          >
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions [align]="'end'">
      <button class="m-1" mat-button mat-stroked-button color="primary" (click)="agregarLibro()">
        Agregar libro
      </button>
      <button class="m-1" mat-button mat-stroked-button color="warn" (click)="cancelar()">
        Cancelar
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="mostrarNotificacionExito" class="alert alert-success notificacion" role="alert">
  ¡Se agregó el libro!
</div>

<div *ngIf="mostrarNotificacionWarn" class="alert alert-warning notificacion" role="alert">
  No se encontró el libro con el ISBN proporcionado.
</div>

<div *ngIf="mostrarNotificacionError" class="alert alert-danger notificacion" role="alert">
  No se pudo agregar el libro, reintenta de nuevo.
</div>
