<div class="tarjeta">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Libros ofertados por otros usuarios</mat-card-title>
    </mat-card-header>
    <hr />
    <mat-card-content class="card-content">
      <app-nav-list></app-nav-list>
      <app-nav-list></app-nav-list>
      <app-nav-list></app-nav-list>
      <app-nav-list></app-nav-list>
      <app-nav-list></app-nav-list>
      <app-nav-list></app-nav-list>
      <app-nav-list></app-nav-list>
      <app-nav-list></app-nav-list>
    </mat-card-content>
    <hr />
    <mat-card-actions align="end">
      <button mat-raised-button color="primary">Mis intercambios</button>
    </mat-card-actions>
  </mat-card>
</div>
