<div style="height: 88vh">
  <mat-card class="centrado">
    <mat-card-header>
      <mat-card-title>
        <h1>Libros</h1>
      </mat-card-title>
    </mat-card-header>
  </mat-card>

  <div class="centrado mt-3">
    <form [formGroup]="form">
      <mat-form-field class="input mb-2 mx-2">
        <mat-label>ISBN</mat-label>
        <input matInput placeholder="Ingresa el ISBN" formControlName="isbn" />

        <mat-error *ngIf="form.get('isbn')?.hasError('maxlength')">
          El ISBN debe tener 10 ó 13 dígitos
        </mat-error>
        <mat-error *ngIf="form.get('isbn')?.hasError('minlength')">
          El ISBN debe tener 10 ó 13 dígitos
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        class="submit mx-2"
        type="submit"
        color="primary"
        (click)="onSubmit()">
        Buscar
      </button>
    </form>
  </div>

  <app-progress-spinner *ngIf="mostrarSpinner"></app-progress-spinner>

  <div *ngIf="!mostrarSpinner" class="justify-content-center container">
    <div class="row libros" *ngIf="libros.libros.length > 0; else nohayLibros" style="height: 60vh">
      <div>
        <h1>Libros disponibles</h1>
      </div>
      <div class="" *ngFor="let libro of libros.libros">
        <mat-card class="col-12 col-md-12 col-sm-12">
          <!--aqui va el enlace a la otra pagina-->
          <a [routerLink]="['/libro']" [queryParams]="{ isbn: libro.isbn }">
            <mat-card-header>
              <mat-card-title> {{ libro.titulo }} </mat-card-title>
              <mat-card-subtitle>Autor: {{ libro.autor }}</mat-card-subtitle>
            </mat-card-header>
            <img
              mat-card-image
              class=""
              mat-card-md-image
              [src]="libro.urlPortada"
              alt="Img Libro"
              width="100px" />
          </a>
        </mat-card>
      </div>
    </div>
    <ng-template #nohayLibros>
      <div style="text-align: center">
        <mat-card>
          <mat-card-header>
            <mat-card-title>¡Ops! No se encontraron libros</mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
    </ng-template>
  </div>
</div>
<div class="centrado mt-3">
  <div class="pagination">
    <button mat-icon-button (click)="irAnterior()" [disabled]="currentPage === 1">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <span>Página {{ currentPage }} </span>
    <button mat-icon-button (click)="irSiguiente()" [disabled]="currentPage === 0">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>
