<div style="height: 80vh">
  <mat-card class="centrado">
    <mat-card-header>
      <mat-card-title>
        <h1>Libros</h1>
      </mat-card-title>
    </mat-card-header>
  </mat-card>

  <div class="centrado mt-3">
    <form [formGroup]="form">
      <mat-form-field class="input mb-2 mx-2">
        <mat-label>ISBN</mat-label>
        <input matInput placeholder="Ingresa el ISBN" formControlName="isbn" />

        <mat-error *ngIf="form.get('isbn')?.hasError('maxlength')">
          El ISBN debe tener 10 ó 13 dígitos
        </mat-error>
        <mat-error *ngIf="form.get('isbn')?.hasError('minlength')">
          El ISBN debe tener 10 ó 13 dígitos
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        class="submit mx-2"
        type="submit"
        color="primary"
        (click)="onSubmit()">
        Buscar
      </button>
    </form>
  </div>

  <app-progress-spinner *ngIf="mostrarSpinner"></app-progress-spinner>

  <div
    *ngIf="!mostrarSpinner"
    class="justify-content-center container"
    style="border: 1px solid red">
    <div
      class="row libros"
      *ngIf="libros.libros.length > 0; else nohayLibros"
      style="border: 1px solid rgb(38, 0, 255)">
      <div>
        <h1>Libros disponibles</h1>
      </div>
      <div class="" *ngFor="let libro of libros.libros" style="border: 1px solid rgb(255, 0, 221)">
        <mat-card class="col-12 col-md-12 col-sm-12" style="border: 1px solid rgb(0, 255, 191)">
          <a [routerLink]="['/detallesLibro', libro.isbn]">
            <mat-card-header>
              <mat-card-title> {{ libro.titulo }} </mat-card-title>
              <mat-card-subtitle>Autor: {{ libro.autor }}</mat-card-subtitle>
            </mat-card-header>
            <img
              mat-card-image
              class=""
              mat-card-md-image
              [src]="libro.urlPortada"
              alt="Img Libro"
              width="100px" />
          </a>
        </mat-card>
      </div>
      <!--<tr *ngFor="let libro of getBooksForCurrentPage()">-->
    </div>
    <ng-template #nohayLibros>
      <div style="text-align: center">
        <mat-card>
          <mat-card-header>
            <mat-card-title>¡Ops! No se encontraron libros</mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
    </ng-template>
  </div>
</div>
<div class="centrado mt-3">
  <div class="pagination">
    <button mat-icon-button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <span>Página {{ currentPage }} de {{ getTotalPages() }}</span>
    <button
      mat-icon-button
      (click)="goToPage(currentPage + 1)"
      [disabled]="currentPage === getTotalPages()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>
