<div style="height: 92vh">
  <mat-card class="centrado">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          <h1>Mi catálogo</h1>
        </mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>

  <div class="m-3">
    <a [routerLink]="['/agregarLibro']">
      <button mat-button mat-raised-button color="primary">Agregar un nuevo libro</button>
    </a>
  </div>

  <app-progress-spinner *ngIf="mostrarSpinner"></app-progress-spinner>

  <div *ngIf="!mostrarSpinner" class="centrado">
    <div class="tarjeta-libro libros m-3">
      <div *ngIf="librosUsuario?.libros?.length; else sinLibros">
        <mat-card class="my-2 mx-1" *ngFor="let libro of librosUsuario.libros">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{ libro.titulo }}</mat-card-title>
              <mat-card-subtitle>{{ libro.autor }}</mat-card-subtitle>
              <img
                class="mx-3"
                mat-card-md-image
                [src]="libro.urlPortada"
                alt="Image of a Shiba Inu"
                width="150px" />
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-actions>
            <button class="m-1" mat-button mat-stroked-button color="primary">Modificar</button>
            <button class="m-1" mat-button mat-stroked-button color="warn">Eliminar</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <ng-template #sinLibros>
      <div class="alert alert-primary" role="alert">No tienes libros en tu catálogo.</div>
    </ng-template>
  </div>
</div>
