<app-libro [libro]="libro"></app-libro>
<app-duenos [duenos]="libroConDuenos.duenos"></app-duenos>

<!-- <div class="alert alert-success notificacion" role="alert">
  ¡Se agregó el libro! <a routerLink="/miCatalogo" class="alert-link">Ir a mi catálogo</a>.
</div> -->

<!-- <div *ngIf="mostrarNotificacionWarn" class="alert alert-warning notificacion" role="alert">
  No se encontró el libro con el ISBN proporcionado.
</div>

<div *ngIf="mostrarNotificacionError" class="alert alert-danger notificacion" role="alert">
  Hubo un error. {{ mensajeError }}
</div> -->
