.box
  display: flex
  align-items: center
  flex-direction: column

.buscar
  width: 500px

.card
  width: 600px
  margin: 0 auto
  margin-bottom: 8px
  img
    width: 100px
    height: 100px

.baseCard
  width: 570px
  margin: 10px

.mat-mdc-card-header
    display: flex
    padding: 0 16px 0