<div class="text-center m-3">
  <h1>Libros disponibles</h1>
</div>
<hr />
<div class="box text-center">
  <mat-form-field class="buscar">
    <mat-label>Ingresa el ISBN</mat-label>
    <input matInput type="text" />
  </mat-form-field>
  <button mat-raised-button color="primary">Buscar</button>
</div>
<hr />
<div class="card" *ngIf="libros?.libros?.length; else nohayLibros">
  <mat-card class="baseCard" *ngFor="let libro of libros.libros">
    <mat-card-actions>
      <button mat-raised-button class="btnLibro" color="primary" (click)="sendValues(libro.isbn)">
        <mat-card-title-group>
          <mat-card-title>{{ libro.titulo }}</mat-card-title>
          <mat-card-subtitle>Autor: {{ libro.autor }}</mat-card-subtitle>
          <img mat-card-md-image [src]="libro.urlPortada" alt="Img Libro" />
        </mat-card-title-group>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #nohayLibros>
  <div style="text-align: center">
    <mat-card>
      <mat-card-header>
        <mat-card-title> Todavía no hay libros registrados </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</ng-template>
