<div class="text-center m-3">
  <h1>Agregar nuevo libro</h1>
</div>
<hr />
<div class="box">
  <mat-form-field class="input">
    <mat-label>Escribe el ISBN</mat-label>
    <input matInput type="text" [(ngModel)]="isbn" />
    <button *ngIf="isbn" matSuffix mat-icon-button aria-label="Clear" (click)="isbn = ''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-raised-button color="primary">Agregar</button>
</div>

<div class="info-libro">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Titulo del libro</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mt-3">
      <div class="container">
        <div class="half-width">
          <p aria-disabled="true"><strong>ISBN:</strong> {{ isbn }}</p>
          <p><strong>Autor:</strong> Autor del libro</p>
          <p><strong>Editorial:</strong> Editorial del libro</p>
          <p><strong>Edición:</strong> 1</p>
          <p><strong>Fecha de publicación:</strong> 01/01/2020</p>
        </div>
        <div>
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/0/05/Portada-libro.jpg"
            alt="portada_libro"
            width="180"
            height="180" />
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions [align]="'end'">
      <button class="m-1" mat-button mat-stroked-button color="primary">Agregar libro</button>
      <button class="m-1" mat-button mat-stroked-button color="warn">Cancelar</button>
    </mat-card-actions>
  </mat-card>
</div>
